# Domains
DOMAINS=erpnext.example.com
SITES_RULE=Host(`erpnext.example.com`)

# Database
DB_PASSWORD=change_this_to_random_password
DB_HOST=mariadb-database
DB_PORT=3306

# Admin
ADMIN_PASSWORD=admin

# Let's Encrypt
LETSENCRYPT_EMAIL=admin@example.com
TRAEFIK_DOMAIN=traefik.example.com

# Docker image
CUSTOM_IMAGE=custom
CUSTOM_TAG=16
