[Unit]
Description=BasaPOS firstboot (load images, create site)
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/basapos-firstboot
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
