[Unit]
Description=BasaPOS socketio (frappe web)
After=network.target mariadb.service redis-server.service basapos-firstboot.service
Wants=mariadb.service redis-server.service

[Service]
User=frappe
WorkingDirectory=/home/frappe/bench/sites
ExecStart=/usr/bin/node /home/frappe/bench/apps/frappe/socketio.js
Environment=NODE_ENV=production
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
